<html>
<head>
  <title>Забронить стол</title>
  <!-- <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> -->
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col col-lg-4">
        <h1>Придёшь или нет?</h1>
        <form action="#" method="POST">
          <div class="mb-3 form-check">
            <label class="form-check-label" for="willCome">Приду</label>
            <input type="checkbox" class="form-check-input" id="willCome" name="willCome" onchange="document.getElementById('comeTime').disabled = !this.checked;">
          </div>
          <div class="mb-3">
            <label for="comeTime" class="form-label">Когда</label>
            <input type="text" class="form-control" id="comeTime" name="comeTime" disabled>
          </div>
          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
